*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
.idea/
*.log

# Firebase
google-services.json (optional: keep if private)

# Keystore
*.jks
*.keystore